/* Brand colours: e3d944; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero-header {font-size: 4em; text-shadow: 2px 2px #000; color: #fff; text-align: center;}
.hero-tagline {font-size: 3em; text-shadow: 2px 2px #000; color: #fff; text-align: center;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon.Change:hover {
  color: teal; 
}
/* 
header {
  min-height: 10vh;
} */

/* .ui[class*="center aligned"].grid {
  width: 80%;
} */

.page {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 90vh;
  width: 100%;
}

.sign-in, .sign-up {
  min-height: 90vh;
}

.home { 
  min-height: 40vh; 
}

.sign-in-page, .sign-up-page, .home-page {
  background: url(../src/assets/images/hero-kitchen.jpg) no-repeat center
}
nav .ui.segment {background: transparent; box-shadow: none; border: none; }

nav .ui.menu {background: rgba(255,255,255,0.8)};

.page .foods {
  background: white;
}

.ui[class*="top fixed"].menu {
  border-top: initial !important;
  border-left: initial !important;
  border-right: initial !important;
}

.ui.fixed.menu, .ui[class*="top fixed"].menu {
  top: 1em !important;
  left: 0.25em !important;
  right: auto ;
  bottom: auto;
}
/* .ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
} */
.ui.menu.fixed {
  width: 98% !important;
  border-radius: 0.28571429rem !important;
}

.ui.table tfoot th {
  background: white !important;
}

.marker .ui.header:first-child {
  margin: 0;
}

.marker .ui.header .icon:only-child {
  padding: 0.11em !important;
}

.location-pin.meta {
  color: teal !important;
  transition: color .1s ease !important;
}

.location-pin.meta:hover {
  color: rgb(1, 102, 102) !important;
  transition: color .1s ease !important;
}

.food-index .ui.grid {
  display: block;
}

.grid.masonry {
  display: block;
}

@media only screen and (min-width: 768px) {
  .grid.masonry {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .ui.doubling.grid.masonry[class*="three column"] > .column {
    width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .grid.masonry {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}
